@font-face {
  font-family: fredoka;
  src: url("./fredoka-variablefont_wdthwght-webfont.woff");
}

@font-face {
  font-family: raleway;
  src: url("./raleway-variablefont_wght-webfont.woff");
}

* {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg width='8mm' height='8mm' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.5' style='fill:%23222;opacity:.4;'/%3E%3C/svg%3E") 4 4, default;
}

:root {
  --base: #f1f1f1;
  --accent: #0d73a3;
  --accentlite: #0d73a355;
}

::-webkit-scrollbar {
  display: none;
}

.flex {
  display:flex;
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
noscript,
#landscape {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: white;
  color:#222;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
noscript {
  z-index:103;
}
#landscape {
  z-index:102;
}
#rotator {
  transform-origin:center center;
  width:20vw;
  height:20vh;
  border:2px solid #555;
  border-radius:8px;
  animation:please-turn 3s ease-in-out infinite alternate;
}
#landscape > span {
  font-family: fredoka;
  font-weight: 600;
  position:fixed;
  bottom:10%;
}
@keyframes please-turn {
  50% {
    transform:rotate(90deg);
  }
  100% {
    transform:rotate(90deg);
  }
}

a:not(noscript > p > a) {
  color: #555;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 5px 3px 0 0;
}
a.in-btn {
  padding:0;
  margin:0;
}
a:not(a.in-btn):hover,
button:hover {
  /* background-color: #22222255; */
  background-color: var(--accentlite);
}
button {
  background: transparent;
  color: #333;
  font-family: raleway;
  font-size: .8rem;
  font-weight: 600;
  border: none;
  padding: 1rem 2rem;
  border-top: 1px solid var(--accent);
  letter-spacing: 2px;
}
a,button {
  transition: background-color 1s ease-in-out, border 1s ease-in-out;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: raleway;
  font-size: 16px;
  font-weight:600;
  z-index: 0;
}

#loader {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: #f1f1f1;
  z-index: 100;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:opacity .3s linear;
}
#counter {
  font-family: monospace;
  color:#555;
  font-size: 4rem;
  transition:color 1.5s linear;
}
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  scroll-snap-type: y mandatory;
}

article {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}

p,
h3 {
  text-align: center;
  margin:0;
}

h3 {
  max-width: 70vw;
  line-height: 2rem;
}

.b {
  font-size: 3rem;
  font-weight: 800;
  font-family: fredoka;
  margin: 0;
}

.light {
  background-color: var(--base);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* LANDING PAGE */
header {
  position:fixed;
  top:0;
  right:0;
  width:fit-content;
  height:3rem;
  display:flex;
  align-items: center;
  justify-content: right;
  text-transform:uppercase;
  font-size:.8rem;
  z-index:99;
}
#home > footer {
  position: fixed;
  bottom: 0;
  right:0;
  display:flex;
  flex-direction: column;
  font-size:.8rem;
  z-index:10;
}
#home > footer > a {
  padding: 1rem;
  margin:0 5px 5px 0;
}
#my-spec {
  margin-bottom:1rem;
}
#who {
  transform-origin:center center;
  transform:translateX(25vw);
  display:flex;
  flex-direction: column;
  align-items: center;
  color:#222222bb;
}
#wall {
  position:absolute;
  top:10vh;
  left:0;
  width:100vw;
  height:80vh;
  filter:opacity(.4);
  padding:0 2rem;
  transform-origin:center left;
  transform: perspective(2000px) rotateY(30deg);
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  overflow:hidden;
  color:#444;
  font-family:monospace;
  font-size:.7rem;
}
.scrolldown {
  position:absolute;
  bottom:5%;
  animation:bounce 1.2s ease-in-out infinite;
}
@keyframes bounce {
  50% {transform:translateY(10px)}
}

/* ABOUT */
.about-section {
  width:50vw;
  height:100vh;
}
.about-section > div {
  width:30%;
  height:30%;
  border-radius: 50%;
  background-color: var(--base);
}

/* TECH */
#bar {
  position:absolute;
  left:0;
  width:35vw;
  height:100vh;
}
#st {
  position:absolute;
  right:0;
  width:65vw;
  height:100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* SKILLS */
.border {
  position:relative;
  min-width:40vw;
  background-color:var(--accent-lt);
  margin-bottom:.4rem;
  border-radius:3px;
  overflow:hidden;
  z-index:0;
}
.border > span {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  display: flex;
  align-items: center;
  font-size:.8rem;
  padding-right:.4rem;
  color: #000;
}
.fill {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--accent);
  font-size: .8rem;
  color: var(--base);
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  z-index:2;
}
.border > .txt {
  width:100%;
}
.border > span {
  z-index:3;
}

/* PORTFOLIO */
#carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel>* {
  flex: 0 0 auto;
}

#carousel figure {
  margin: 0;
  width: 40%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}

#carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}

.pm {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  display:none;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  body {
    font-size:12px;
  }
  header {
    justify-content: center;
    width: 100vw;
  }
  #wall {
    font-size:.5rem;
    padding:0 .5rem;
  }
  #who {
    transform: scale(.7);
  }

  a,
  button {
    font-size:.7rem;
    padding:.2rem .3rem !important;
    margin:0 !important;
  }

  footer {
    margin:0 .4rem .4rem 0;
  }
  footer > a {
    font-size:.5rem;
  }

  .b {
    font-size: 1.5rem;
  }

  .c {
    font-size: .8rem;
  }

  .fill,
  .border > span {
    font-size: .6rem;
    color:var(--base);
  }
}